<<<<<<< HEAD
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
=======
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
>>>>>>> e6ca0ecda757c3168f024ece8d18a25e88a8eeaa

@font-face {
    font-family: "Montsrrat-Bold";
    font-family: "Montsrrat-Regular";

    src: url(../assets/fonts/Montsrrat-Bold.ttf) format("truetype");
    src: url(../assets/fonts/Montsrrat-Regular.ttf) format("truetype");
}
body {
  font-family: 'Montsrrat-Regular', sans-serif;
<<<<<<< HEAD
  font-family: 'Montsrrat', sans-serif;
=======
>>>>>>> e6ca0ecda757c3168f024ece8d18a25e88a8eeaa
  font-size: 14px;
  font-weight: 400;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}
iframe{
    border: none;
}
.h-divider{
 margin-top:5px;
 margin-bottom:5px;
 margin: 0 auto;
 height:1px;
 width:50%;
 border-top:1px solid gainsboro;
}
.font-ul{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
span .soporte{
  padding-right: 6px;
}
input.hover:hover{
    background-color: #34495e;
    color:white;
}
textarea.hover:hover{
    background-color: #34495e;
    color:white;

}

a {
  color: #e74c3c;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
a:hover {
  color: #e76c3c;
}
.row {
  padding: 80px 0px;
}
.btn {
  border: none;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-transform: uppercase;
  border-radius: 0;
}
.btn-common {
  background: #ee6f05;
  color: #fff;
  border: 2px solid white;
}
.btn-common:hover {
  background: #e74c3c;
  color: #fff;
}
.logo{
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  transition: 2.5s ease;
  -moz-transition: 2.5s ease; /* Firefox */
  -webkit-transition: 2.5s ease; /* Chrome - Safari */
  -o-transition: 2.5s ease; /* Opera */
}
.logo:hover{
  
  transform : rotate(360deg);
  -moz-transform : rotate(360deg); /* Firefox */
  -webkit-transform : rotate(360deg); /* Chrome - Safari */
  -o-transform : rotate(360deg); /* Opera */
}

.title {
  text-align: center;
  font-size: 50px;
}
.subtitle {
  text-align: center;
  font-weight: 100;
  padding-bottom: 30px;
  position: relative;
  color: #bdc3c7;
}
.navbar {
  margin-bottom: 0;
}
.navbar li {
  color: #d1d1d1;
}
.navbar-default {
  border: none;
  border-radius: 0;
  background: rgba(0, 0, 0, 0.2);
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background: none;
  color: #fff;
}
.navbar-default .navbar-nav li a,
.navbar-default .navbar-nav li a:hover {
  color: #fff;
}
.navbar-default .navbar-nav > .active,
.navbar-default .navbar-nav li:hover {
  background: #e74c3c;
  padding-bottom: 5px;
  color: #fff;
}
.navbar-default .navbar-brand {
  font-size: 25px;
  color: #fff;
  font-weight: 100;
}
.navbar-default .navbar-brand:hover {
  color: #eee;
}
.navbar-default .navbar-toggle .icon-bar {
  background: #fff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background: #333;
}
.affix.navbar-default {
  background: rgba(0, 0, 0, 0.8);
}
#hero-area {
  background: #34495e;
  color: #fff;
}
#hero-area .btn {
  margin-right: 20px;
}
#hero-area img {
  max-width: 100%;
}
#hero-area p {
  padding: 50px 0;
}
#services h3 {
  margin-top: 0;
  font-size: 28px;
  color: #e74c3c;
}
/*Portfolio*/
#portfolio {
  background: #f1f1f1;
}
/*Portfolio Overlay */
.portfolio-item {
  position: relative;
  margin-bottom: 15px;
}
.portfolio-item img {
  width: 100%;
}
.portfolio-item .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}
.portfolio-item:hover .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
  display: block;
}
.portfolio-item .icons .preview {
  position: absolute;
  left: 40%;
  top: 40%;
  color: #fff;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.precio1-des{
  background: #7ca2f5;
    width: 100%;
    height: 50px;
    text-align: center;
}

.precio1{
    background: #fff;
    width: 250px;
    height: 300px;
    border-radius: 8px;
    border: 2px solid #7ca2f5;
    padding: 0;
    margin-right: 60px;
}

.precio-total{
    color: #fff;
    font-size: 30px;
}
.body-price1{
     padding: 10px;
    font-size: 16px;
    margin:0;
}
.contenedor-price{
  margin-top: 28px;
  text-align: center;
}
.fondo-price{
  background: rgba(243,243,246,.7);
}
.footer-price1{
  text-align: center;
  margin-top: 25px;
}
.centrar-texto{
    text-align: center;
    
}
a.btn.btn-warning{
    color: #fff;
    text-decoration: none;
    background-color: #ffdb15;
    padding: 10px;
    border-radius: 5px;
    box-shadow: inset 0 -.2em rgba(0,0,0,.3);
    font-size: 16px;
    
}
a.btn.btn-warning:hover{
  background-color: goldenrod;
}
.btn-ml{
    width: 100px;
    height: 50px;
    background-color: #343434;
    border-radius: 20px;
    box-shadow: inset 0 -.2em rgba(0,0,0,.3);


}
.btn.btn-danger{
    border-radius: 5px;
}
button.btn.btn-warning{
    color: #fff;
    text-decoration: none;
    background-color: orange;
    padding: 10px;
    border-radius: 5px;
    box-shadow: inset 0 -.2em rgba(0,0,0,.3);
    font-size: 16px;
}
button.btn.btn-warning:hover{
  background-color: #ee6f05;
}



.portfolio-item .icons .preview i {
  color: #e74c3c;
}
.sp{
  width: 200px;
}
#clients {
  background: #f1f1f1;
}
#sale{
  background: #fff;
  color: #333;
}
#about {
  background: #34495e;
  color: #fff;
}
#about p {
  line-height: 30px;
  font-size: 17px;
}
#contact {
  background: #f1f1f1;
}
#contact ::-webkit-input-placeholder {
  color: #ecf0f1;
}
#contact :-moz-placeholder {
  color: #ecf0f1;
}
#contact ::-moz-placeholder {
  color: #ecf0f1;
}
#contact :-ms-input-placeholder {
  color: #ecf0f1;
}
#contact .social i {
  color: #fff;
  padding: 10px;
  margin-right: 5px;
  width: 50px;
  height: 50px;
  vertical-align: middle;
  background: #34495e;
}
#contact .social .social-links a:hover {
  color: #fff;
}
#contact .social .fa-facebook:hover {
  background: #3b5998;
  color: #fff;
}
#contact .social .fa-twitter:hover {
  background: #00CAFB;
  color: #fff;
}
#contact .social .fa-google-plus:hover {
  background: #D23A1D;
  color: #fff;
}
#contact .social .fa-linkedin:hover {
  background: #007bb6;
  color: #fff;
}
#contact .social .fa-dribbble:hover {
  background: #ea4c89;
  color: #fff;
}
#contact .social .fa-github:hover {
  background: #171515;
  color: #fff;
}
#contact .contact-info {
  margin: 40px 0;
}
#contact .contact-info p {
  font-size: 20px;
}
#contact .contact-form .form-control {
  box-shadow: none;
  font-size: 17px;
  margin-bottom: 20px;
  border-radius: 0;
  border: none;
}

/*Scroll Top*/
.to-top i {
  padding: 10px 15px;
  margin: 10px;
  background: transparent;
  color: #34495e;
  border: 2px solid #34495e;
}
.to-top i:hover {
  background: #34495e;
  color: #fff;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#copyright {
  background: #F1F1F1;
  color: #333;
}
#copyright a {
  color: #333;
}
.certificado{
  margin-top: -24px;
  width:220px;

}
  
